<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Custom Menu Starter</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" />
  </head>
  <body>
    <script src="/bundle.js" id="menu-loader" data-location-id="<%= htmlWebpackPlugin.options.locationId %>"></script>
  </body>
</html>
