<div class="u__menu">
  {{#each menus.edges as |menu|}}
    <div class="u__title">{{menu.node.name}}</div>

    {{#each menu.node.sections.edges as |section|}}
      {{> section section=section.node}}
    {{/each}}
  {{/each}}
</div>
