<section class="u__menu">
  {{#each menus.edges as |menu|}}
    {{#ifeq menu.node.name 'Draft Beer Menu' }}
      <div class="u__on-tap">
        <div class="u__items">
          {{#each menu.node.sections.edges as |section|}}
            {{> on-tap section=section.node}}
          {{/each}}
        </div>
      </div>

      <section class="u__on-tap-controls">
        <button class="u__up" data-behavior="u__scroll" data-direction="up"></button>
        <button class="u__down" data-behavior="u__scroll" data-direction="down"></button>
      </section>
    {{else}}

      {{#each menu.node.sections.edges as |section|}}
        {{> section section=section.node}}
      {{/each}}

    {{/ifeq}}
  {{/each}}
</section>
