<section class="u__menu">
  {{#each menus as |menu|}}
    {{#ifeq menu.name "What's On Tap" }}
      <div class="u__container">
        <div class="u__on-tap-title"> What's on tap</div>
      </div>
      <div class="u__on-tap">
        <div class="u__items">
          {{#each menu.sections as |section|}}
            {{> on-tap section=section}}
          {{/each}}
        </div>
      </div>

      <section class="u__on-tap-controls">
        <button class="u__up" data-behavior="u__scroll" data-direction="up"></button>
        <button class="u__down" data-behavior="u__scroll" data-direction="down"></button>
      </section>
    {{else}}

      {{#each menu.sections as |section|}}
        {{> section section=section}}
      {{/each}}

    {{/ifeq}}
  {{/each}}
</section>
