<div class="u__title">{{section.name}}</div>
<div class="u__container u__section">
  <div class="u__items">
    {{#each section.items as |item|}}
      {{> item item=item}}
    {{/each}}
  </div>
</div>

